*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: black;
}
.nav{
    width: 100%;
    position: fixed;
    top: 10px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav ul{
    display: flex;
    height: 40px;
    gap: 20px;
    list-style: none;
}
.nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav ul li a{
    display: grid;
    place-items: center;
    color: rgba(82, 82, 82, 1.0);
    font-family: Product sans;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: none;
}
#sixdg{
    width: 19px;
    position: relative;
}
#sgbtn{
    height: 25px;
    width: 60px;
    background: #4285f4;
    outline: none;
    border: none;
    border-radius: 4px;
    color: rgba(241, 241, 241, 0.88);
    cursor: pointer;
}
.nav ul :nth-child(3){
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.nav ul :nth-child(3):hover{
    background: #ccc;
}
.nav ul :nth-child(1):hover{
    text-decoration: underline;
}
.nav ul :nth-child(2):hover{
    text-decoration: underline;
}

.googlelogo{
    max-width: 300px;
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.googlelogo img{
    width: 100%;
}

#frmsrch{
    width: 97vw;
    max-width: 600px;
    position: relative;
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#txtsrch{
    width: 100%;
    height: 46px;
    padding: 1px 40px;
    border: 0.5px solid rgba(204, 204, 204, 0.580);
    border-radius: 23px;
    outline: none;
}
#txtsrch:hover{
    box-shadow: 2px 4px 5px rgba(204, 204, 204, 0.58),
    -2px -2px 5px rgba(204, 204, 204, 0.58);
}
#srchicon{
    width: 22px;
    position: absolute;
    left: 10px;
    top: 10px;
}
#micicon{
    width: 18px;
    position: absolute;
    right: 12px;
    top: 9px;
}
.btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
#submittxt, #feelbtn{
    width: 130px;
    height: 34px;
    border-radius: 6px;
    border: none;
}
#submittxt:hover{
    box-shadow: 1px 3px 3px rgba(204, 204, 204, 0.45),
    -1px -1px 3px rgba(204, 204, 204, 0.45);
}
#feelbtn:hover{
     box-shadow: 1px 3px 3px rgba(204, 204, 204, 0.45),
    -1px -1px 3px rgba(204, 204, 204, 0.45);
}